<div class='container mt-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded'>
    <div class='row mb-2'>
        <div class="col-2 font-weight-bold">
            {{carData?.make}} 
        </div>
        <div class="col-2">
            {{carData?.model}}
        </div>
        <div class="col-2">
            {{carData?.year}}
        </div>
        <div class="col-4">
            <img src="{{carData?.imageURL}}" [style.width.px]='carImageWidth' />
        </div>
        <div class="col-2">
            <button class="btn btn-danger" (click)="deleteCar(carData?._id)">Delete</button>
        </div>
    </div>
</div>